{% block content %}

        <div class="row">

            {% if profile_data.user_sub_privileges(tiangge_data.tiangge_name_to_id()['id']) %}
                <div class="col-12 position-relative">
                </div>
                <div class="col-12">
                    <form action="{{ url_for ('submit_text_post', name=tiangge_name)}}">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Make a Post</button>
                        </div>
                    </form>
                </div>
            {% else %}
                {{skip}}
            {% endif %}

        </div>

{% endblock %}
